csv_parser/.vs
csv_parser/Debug
csv_parser/csv_parser/Debug
email_parser/.vs
email_parser/Debug
email_parser/email_parser/Debug
LibraryManagementSystem/.vs
LibraryManagementSystem/Debug
LibraryManagementSystem/LibraryManagementSystem/Debug
LibraryManagementSystem/LibraryManagementSystem/x64/Debug
LibraryManagementSystem/x64
